<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <title>{%block title%}{%endblock%}</title>
        <link rel = "stylesheet" href = "{% static 'postit/fontAwesome/css/all.min.css' %}">
        <link rel = "stylesheet" href = "{% static 'postit/style.css'%}">
        <link rel = "stylesheet" href = "">
        <meta name = "author" content = "Ayotunde Okunubi">
        {%block other_header_stuff%}
        {%endblock%}
    </head>
    <body>

        <div class = "panel-wrapper" style = "display: none" id = "editPanel">
            <span class = "fas fa-times cancel-btn" style = "background-color:lightgrey;padding:10px;border-radius:40%;position:absolute;top:0;right:5%;" id = "edit-cancel-btn"></span>
            <div class = "edit-panel">
                <form method = "POST" action = "{% url 'postit:update_note' %}">
                    {%csrf_token%}
                    <input type = "text" placeholder = "Alias" name = "alias-edit" required>
                    <input type = "text" placeholder = "Description" name = "note-edit" required><br><br>
                    <input type = "hidden" id = "note-id" name = "note-id">
                    <button type = "submit" style = "">Update Note</button>
                </form>
            </div>
        </div>

        <div class = "panel-wrapper" style = "display: none" id = "addPanel">
            <span class = "fas fa-times cancel-btn" style = "background-color:lightgrey;padding:10px;border-radius:40%;position:absolute;top:0;right:5%;" id = "cancel-btn"></span>
            <div class = "add-panel">
                <form method = "POST" action = "{% url 'postit:add_note' %}">
                    {%csrf_token%}
                    <input type = "text" placeholder = "Alias" name = "alias" required>
                    <input type = "text" placeholder = "Description" name = "note" required><br><br>
                    <button type = "submit" style = "">Add Note</button>
                </form>
            </div>
        </div>

        <div class = "row">
            <div>
            </div>

            <div style = "">
                <button class = "new-btn" id = "add-btn"><i class = "fas fa-plus"></i></button>
            {% block content %}
            {% endblock %}                
            </div>

            <div>
            </div>

        </div>

        <script src = ""></script>
        <script>
            const add_btn = document.querySelector("#add-btn");
            const cancel_btn = document.querySelector("#cancel-btn");
            const edit_cancel_btn = document.querySelector("#edit-cancel-btn");
            const addPanel = document.querySelector("#addPanel")
            const editPanel = document.querySelector("#editPanel")

            edit_cancel_btn.onclick = function(){
                editPanel.style.display = "none";
            }

            cancel_btn.onclick = function(){
                addPanel.style.display = "none";
            }
            add_btn.onclick = function(){
                addPanel.style.display = "block";

            }
        </script>
        {%block otherJS%}
        {%endblock%}
    </body>
</html>