<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <title>{%block title%}{%endblock%}</title>
        <link rel = "stylesheet" href = "{% static 'postit/style.css'%}">
        <link rel = "stylesheet" href = "">
        <meta name = "author" content = "Ayotunde Okunubi">
        {%block other_header_stuff%}
        {%endblock%}
    </head>
    <body>
        <div class = "container">
            <div class = "edit-panel-wrapper" style = "display:none;">
                <div class = "edit-panel">
                    <h3 style = "color:white;text-align:center;">Edit Note</h3>
                    <form method = "POST" action = "{%url 'postit:update_note'%}">
                        {%csrf_token%}
                        <input type = "text" name = "alias" id = "alias-upd">
                        <input type = "text" name = "note" id = "note-upd">
                        <input type = "hidden" name = "id" id = "id">
                        <button id = "update-btn" type = "submit" class = "btn-block btn" style = "background-color:darkgreen;border:2px dashed white;">Update Note</button>
                    </form>
                </div>
            </div>

            <div class = "box">
                <section style = "">
                    {%block content%}
                    {%endblock%}
                </section>
                <section style = "background:lightgrey;">
                    <h3>Add a Note</h3>
                    <div>
                        <form action = "{%url 'postit:add_note'%}" method = "POST">
                            {%csrf_token%}
                            <input type = "text" name = "alias" placeholder = "Alias">
                            <input type = "text" name = "note" placeholder = "Note">
                            <input type = "submit" value = "Add note">
                        </form>
                    </div>
                    <hr>
                    <button class = "btn-block mb-5p btn" id = "del_all">Delete All</button>
                    <button class = "btn-block mb-5p btn" id = "mark_all">Mark All</button>
                    <button class = "btn-block mb-5p btn" id = "unmark_all">Unmark All</button>
                    <hr>
                </section>
            </div>
        </div>

        <script src = ""></script>
        <script>
            const hex = ['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0];
            const hex_length = hex.length;

            function generate_hex(){
                let hex_string = '#';
                for(let i=0; i<6; i++){
                    let random_string = Math.floor(Math.random()*hex_length)
                    hex_string+= hex[random_string];
                }
                return hex_string;
            }

            let notes = document.querySelectorAll(".note");
    
            for(let i=0; i<notes.length; i++){
                notes[i].style.backgroundColor = generate_hex()
                console.log(notes[i].style.backgroundColor)
            }

        </script>
        <script>
            const del_all_btn = document.querySelector("#del_all");
            const mark_all_btn = document.querySelector("#mark_all")
            const unmark_all_btn = document.querySelector("#unmark_all")
            
            function confirm_del_all(){
                let msg =confirm("Are you sure you want to delete all notes?");
                if (msg){
                    window.location = "{%url 'postit:del_all'%}";
                }else{
                    window.location.reload();
                }
            }

            function confirm_mark_all(){
                let msg = confirm("Are you sure you want to mark all notes")
                if(msg){
                    window.location = "{%url 'postit:mark_all'%}";
                }else{
                    window.location.reload()
                }
            }

            function confirm_unmark_all(){
                let msg = confirm("Are you sure you want to Unmark all notes")
                if(msg){
                    window.location = "{%url 'postit:unmark_all'%}";
                }else{
                    window.location.reload()
                }
            }

            del_all_btn.addEventListener('click', confirm_del_all);
            mark_all_btn.addEventListener('click', confirm_mark_all);
            unmark_all_btn.addEventListener('click', confirm_unmark_all)
        </script>
        {%block other_js%}
        {%endblock%}
    </body>
</html>