{% extends 'postit/base.html'%}

{%block title%}
Home
{%endblock%}

{%block content%}
<div style = "margin-top:10px;">
{% for note in notes%}
<div style = "background:lightgrey;">
    <div style = "padding:10px;margin-bottom:5px;" id = "main-{{note.id}}" onclick = "openDetail('detail-{{note.id}}')">
        <div>
            <span {% if note.status == 'm'%} style = "text-decoration:line-through;font-weight:bold;" {% endif %}>{{note.alias}}</span>
            <a href = "{% url 'postit:delete_note' note.id%}" class = ""><span class = "fas fa-trash menu-link" style = "float:right;"></span></a>
            <a href = "javascript:void(0)" class = "" id = "edit-{{note.id}}" data-alias = "{{note.alias}}" data-note = "{{note.note}}" onclick = "openEdit('edit-{{note.id}}')"><span class = "fas fa-pen menu-link" style = "float:right;"></span></a>
            <a href = "{% url 'postit:mark_note' note.id %}" class = ""><span class = "fas fa-check menu-link" style = "float:right;"></span></a>
        </div>
        <hr align = "left" style = "width:45%;border-bottom:.25px solid grey;">
    </div>
    <div style = "padding:10px;display:none;margin-bottom:5px;" id = "detail-{{note.id}}" class = "note-detail">
        <small>{{note.note}}</small>
    </div>
</div>
{% endfor %}
</div>

{%endblock%}

{% block otherJS%}
<script>
    const elements = document.querySelectorAll(".note-detail");

    //console.log(elements)

    function openDetail(elemId){
        for(let i=0; i<elements.length; i++){
            elements[i].style.display = "none";
        }
        let element = document.getElementById(elemId);
        element.style.display = "block";

    }

    function openEdit(elemId){
        element = document.getElementById(elemId);
        console.log(element);
        const alias = element.dataset['alias'];
        const note = element.dataset['note'];
        let edit_alias_input = document.querySelector("input[name='alias-edit']");
        let edit_note_input = document.querySelector("input[name='note-edit']");
        edit_alias_input.value = alias;
        edit_note_input.value = note;
        editPanel.style.display = "block";
        const edit_note_id = document.querySelector("#note-id");
        note_id = elemId.replace('edit-', '');
        edit_note_id.value = note_id;
        console.log(edit_note_id);
    }
</script>
{% endblock %}